.view-filters {
  @include width-padding-no-growth();
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;

  .views-exposed-form {
    .views-exposed-widget {
      padding: 0;
    }

    .views-exposed-widgets {
      margin-bottom: 0;
    }

    label {
      font-size: 20px;
    }

    label,
    .views-widget {
      width: 100%;
      margin-bottom: $grid-gutter-width / 2;
    }


    label,
    .views-widget,
    .views-submit-button {
      clear: left;

      @include breakpoint($bp-default) {
        clear: none;
        width: auto;
        float: left;
        margin-right: $grid-gutter-width / 2;
        margin-bottom: 0
      }

    }

    .description {
      display: none;
    }

    input.form-submit {
      margin-top: 0;
      margin-right: $grid-gutter-width / 2;

    }
  }

}
